@model ProjectManager.Models.Users.IndexM

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div>
    <!-- Filter form -->
    <form action="/Users/Index" method="get">
        <input type="hidden" name="ItemsPerPage" value="@Model.ItemsPerPage" />
        Username: <input type="text" name="Username" value="@Model.Username" />

        First name: <input type="text" name="FirstName" value="@Model.FirstName" />

        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName)

        <input type="submit" value="Filter" />
    </form>
</div>

<!-- Create hyperlink -->
<a href="/Users/Edit">Create new record</a>

<!-- Users -->
<table>
    <!-- Header -->
    <tr>
        <td>Username</td>
        <td>First name</td>
        <td>Last name</td>
    </tr>
    <!-- Contents -->
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>@item.Username</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>
                <a href="/Users/Edit?id=@item.Id">edit</a>
                <a href="/Users/Delete?id=@item.Id" onclick="return confirm('Delete item?')">delete</a>
            </td>
        </tr>
    }
</table>

<!-- Page navigation hyperlinks -->
@for (int i = 1; i <= Model.PagesCount; i++)
{
    <a style="margin:0 10px" href="/Users/Index?ItemsPerPage=@(Model.ItemsPerPage)&Page=@i&Username=@(Model.Username)&FirstName=@(Model.FirstName)&LastName=@(Model.LastName)">@i</a>
}

<!-- Drop-down list for items per page -->
<select id="ddlItemsPerPage" onchange="ddlItemsPerPage_OnChange()">
    <option value="2" @(Model.ItemsPerPage == 2 ? "selected" : "")>2</option>
    <option value="5" @(Model.ItemsPerPage == 5 ? "selected" : "")>5</option>
    <option value="10" @(Model.ItemsPerPage == 10 ? "selected" : "")>10</option>
</select>

<!-- JavaScript for changing the preference for items per page -->
<script>
    function ddlItemsPerPage_OnChange() {
        var ddlItemsPerPage = document.getElementById("ddlItemsPerPage");
        var itemsPerPage = ddlItemsPerPage.options[ddlItemsPerPage.selectedIndex].value;

        window.location.href = "/Users/Index?ItemsPerPage=" + itemsPerPage + "&Page=1&Username=@(Model.Username)&FirstName=@(Model.FirstName)&LastName=@(Model.LastName)";
    }
</script>