@model ProjectManager.Models.Home.LoginM

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!-- Authentication form -->
<form action="/Home/Login" method="post">
    <fieldset>
        <legend>Login</legend>

        @Html.ValidationMessage("authFailed")
        <table>
            <!-- Username -->
            <tr>
                <td>
                    @Html.LabelFor(m => m.Username)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Username)
                    @Html.ValidationMessageFor(m => m.Username)
                </td>
            </tr>
            <!-- Password -->
            <tr>
                <td>
                    @Html.LabelFor(m => m.Password)
                </td>
                <td>
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </td>
            </tr>
            <!-- Login button and Back hyperlink -->
            <tr>
                <td colspan="2">
                    <div style="float:right">
                        <!-- Login -->
                        <input type="submit" value="Login" />
                        <!-- Back -->
                        <a href="/Home/Index" style="text-decoration:none; color:blue">Back</a>
                        </div>
                </td>
            </tr>
        </table>
    </fieldset>
</form>
